.container{
  position: relative;
}

.md {
  width: fit-content;
}

.lg {
  width: auto;
}

.optionsContainer {
  position: absolute;
  padding: 19px 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #fff;
  max-height: 165px;
  overflow-y: auto;
  z-index: 1;
  width: 100%;
}

.optionsContainer::-webkit-scrollbar {
  display: none;
}

.option {
  padding: 10px 14px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--secondary-color);
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2;
  border-radius: 20px;
  padding: 19px 14px;
  border: 1px solid #fff;
  cursor: pointer;
}

.selectionRemoveBorderBottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.arrow {
  margin-left: 4px;
}

.arrow180deg {
  margin-left: 4px;
  transform: rotate(180deg);
}